html(lang="en")
  head
    meta(charset="UTF-8")
    meta(
      content="width=device-width, initial-scale=1.0" 
      name="viewport"
      )
    title Product List
    link(
      href="styles.css" 
      rel="stylesheet"
      )
  body
    
    nav.navbar
      .navbar-brand
        a(href="home") The African House
      button#navbar-toggle.navbar-toggle
        span &#9776;
        // Hamburger icon
      ul#navbar-nav.navbar-nav
        li
          a(href="home") Home
        li
          a(href="....") Best Sellers
        li
          a(href="...") Categories
        li
          a(href="product_upload") Product Upload
        li
          a(href="...") Editor's Pick
      .navbar-login
        a(href="signup") Account Login
    .search-bar
      input(
        placeholder="Search for products..." 
        type="text"
        )
      button(type="button") Search
    .container
      h1 Products
      ul#product-list
        
    script(src="app.js")
    script(src="product-logic.js")