doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(
      content="width=device-width, initial-scale=1.0" 
      name="viewport"
      )
    title Product Upload Page
    link(
      href="style.css" 
      rel="stylesheet"
      )
  body
    nav.navbar
      .navbar-brand
        a(href="home") The African House
      button#navbar-toggle.navbar-toggle
        span &#9776;
        // Hamburger icon
      ul#navbar-nav.navbar-nav
        li
          a(href="home") Home
        li
          a(href="....") Best Sellers
        li
          a(href="...") Categories
        li
          a(href="product_upload") Product Upload
        li
          a(href="...") Editor's Pick
      .navbar-login
        a(href="signup") Account Login
    .search-bar
      input(
        placeholder="Search for products..." 
        type="text"
        )
      button(type="button") Search
    .container
      h1 The African House Product Upload
      form#product-form(
        method="post" 
        action="api/products"
        )
        input#name(
          required="" 
          placeholder="Product Name" 
          type="text"
          )
        input#description(
          required="" 
          placeholder="Product Description" 
          type="text"
          )
        input#price(
          required="" 
          placeholder="Product Price" 
          type="number"
          )
        input#image(
          required="" 
          type="file"
          )
        button(type="submit") Add Product
  script(src="app.js")
  script(src="product-logic.js")
   